body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    width: 300px; 
    height: 560px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    padding: 32px 22px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 22px;

}


    .card__image{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid #9176ff;
    padding: 3px;
    margin-bottom: 32px;

}

    .card__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
 
    .card__content {
        display: flex;
        align-items: center;
        flex-direction: column;
}   

    .card__name {
        color: black;
        font-size: 24px;
}
    .card__text {
        text-align: left;
        color: #111;
        font-size: 17px;
        margin: 16px 0;
 } 