body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.header-title {
    font-size: 24px;
    text-align: center;
    color: blue;
}

nav ul {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: gray;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 16px;
}

nav ul li a:hover {
    border-radius: 3px;
    cursor: pointer;
}

#welcome-section {
    text-align: center;
    background-color: #eef;
    padding: 20px;
}

.content-box {
    width: 100%;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.content-box img {
    width: 10%;
    height: auto;
}

.services-title {
    margin-top: 50px;
    text-align: center;
}

.service-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.service-item {
    border: 1px solid #aaa;
    padding: 15px;
    text-align: center;
}

form {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    resize: none;
    text-align: left;
}

form .button {
    display: block;
    width: 100%;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    text-align: center;
}

footer {
    text-align: center;
}