body {
    font-family: Arial;
    background-color: rgb(214, 209, 209);
    margin: 0;
    padding: 2px;
    line-height: 2;
}

header {
    background-color: rgb(71, 65, 65);
    color: white;
    padding-top: 10px;
    padding-bottom: 25px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(81, 76, 76, 0.3);
}

nav ul {
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 5px;
    justify-content: center;

}

nav ul li {
    margin: 5px;
    margin-left: 30px;
}

nav ul li a {
    color: white;
    text-decoration: underline;
    font-weight: normal;
    transition: all 2s ease;
    padding: 8px 16px;
}

nav ul li a:hover {
    color: red;
}

section {
    padding: 50px 20px;
    margin-top: 30px;
}

#om {
    background-color: #ffffff;
    text-align: center;
}

#om img {
    width: 150px;
    height: auto;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 10px 4px 6px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}

#om img:hover {
    transition: scale(1.15);
}

#tenester {
    background-color: rgb(203, 201, 201);
}

.tenester {
    background-color: white;
    padding: 25px;
    margin: 20px 0;
    border: solid, 3px black;
    border-radius: 6px;
    box-shadow: 3px 5px 12px rgba(238, 235, 235, 0.15);
    transition: background-color 0.3s ease;
    bottom: unset;
}

.teneste:hover {
    transform: rotate(10deg);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.25);
}

#contact {
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

form label {
    margin-top: 10px;
    font-weight: bold;

}

form input, form textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 2px solid #c0c0c0;
    border-radius: 3px;
    font-size: 16px;
    background-color: white;
    resize: none;
}

form button {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #444444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.4s ease;
}

form button:hover {
    background-color: red;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: black;
    color: white;
    text-align: left;
    padding: 30px 0;
    margin-top: 20px;
    text-align: center;
}

footer ul {
    list-style: circle;
    padding: 0;
    margin: 10px;
}

footer ul li {
    display: inline;
    margin-right: 15px;
}

footer ul li a {
    color: white;
    text-decoration: italic;
}

footer ul li a:hover {
    color: red;
    cursor: pointer;
}

/* Animasjon bakgrunn for header */
@keyframes gradientBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    background-clip: linear-gradient(45deg, #aaff00, #ff00cc, #aaff00);
    background-size: 300% 300%;
    animation: gradientBackground 5s ease infinite;
}
