body{
  background-image: url(bilder/snake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  
}

fieldset{

  float: center;
  margin: 250px;
  width: 350px;
  height: 450%;
  border-color: black;
  border-radius: 30px;

}
.btn{
  background-color: aquamarine;
  cursor: pointer;
}
.btn:hover{
  background-color: aqua;
}
    
