body{
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        align-content: center;
        
      }
      
      body {
        font-family: "Poppins", sans-serif;
        background-color: whitesmoke;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Ensures sections and Swiper stack vertically */
      }
      
      header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
      }
      
      .logo h1 {
        color: #f5f5f5;
        font-size: 24px;
      }
      
      .logo img {
        width: 60px;
        height: auto;
      }
      
      nav ul {
        display: flex;
        list-style: none;
      }
      
      nav ul li {
        margin-left: 20px;
      }
      
      nav ul li a {
        color: #f5f5f5;
        text-decoration: none;
        font-size: 16px;
        padding: 8px 16px;
        transition: background-color 0.3s ease;
      }
      
      nav ul li a:hover {
        background-color: #555;
        border-radius: 5px;
      }
      
      a {
        text-decoration: none;
        color: black;
        cursor: pointer;
      }
      
      h2 {
        font-size: 28px;
        margin-bottom: 20px;
      }
      
      /* ----------- SLIDER ------------ */
      .container {
        width: 80%;
        margin-bottom: 40px;
        /* Flexbox alignment */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }
      
      .profil-wrapper {
        width: 100%;
        height: 560px;
        display: flex;
        align-items: center;
      }
      
      .card__image {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        border: 5px solid #9176ff;
        padding: 3px;
        margin-bottom: 32px;
      }
      
      .card__image img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
      
      .card__content {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      
      .card__name {
        color: #9176ff;
        font-size: 20px;
      }
      
      .card__text {
        text-align: center;
        font-size: 17px;
        margin: 16px 0;
      }
      
      .section {
        width: 80%;  
        margin: 20px auto;
        padding: 20px;
        text-align: center;
        background-color: #fff;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
      }
      
      footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px;
      }

      .contact{
        background-image: red;
        

      }
      
      /* Responsive styles */
      @media (max-width: 768px) {
        header {
          flex-direction: column;
        }
      
        nav ul {
          flex-direction: column;
        }
      
        nav ul li {
          margin: 10px 0;
        }
      }
      
}
