body{
    background-image: url(bilder/snake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#gameContainer{
    text-align: center;
}
#gameBoard{
    margin-top: 50px;
    border:3px solid;    
}
#scoretext{
    font-family: "permanent marker", cursive;
    font-size: 100px;
}
#resetBtn{
    font-family: "permanent maker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px, solid;
    border-radius: 15px;
    cursor: pointer;
}

