body{
    background-image: url(bilder/snake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Verdana;
}

fieldset{
    float: center;
    margin: 180px;
    margin-bottom: 100px;
    width: 320px;
    height: 250px;
    border-radius: 30px;
    border-color: black;

}

h1{
    font-size: medium;
}

footer{
    font-size: 16px;
    background-color: transparent;
    color: black;
    width: 600px;
    margin-left: 200px;

}

.value.log-in {
    background-color: rebeccapurple;
    cursor: pointer;

}

.button:hover{
    background-color: aquamarine;
}



    
    





